[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/tinygltf"]
	path = deps/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "deps/openal"]
	path = deps/openal
	url = https://github.com/kcat/openal-soft.git
